<div #triangle class="timerBlock">
    <div class="timerTriangle" id="emptyTriangle">
    </div>

    <div id="timerPercentageWrapper">
        <div class="timerTriangle">
            <div #boxOne      id="box-1"  class="box-1"></div>
            <div #boxTwo      id="box-2"  class="box-2"></div>
            <div #boxThree    id="box-3"  class="box-3"></div>
            <div #boxFour     id="box-4"  class="box-4"></div>
            <div #boxFive     id="box-5"  class="box-5"></div>
            <div #boxSix      id="box-6"  class="box-6"></div>
            <div #boxSeven    id="box-7"  class="box-7"></div>
            <div #boxEight    id="box-8"  class="box-8"></div>
            <div #boxNine     id="box-9"  class="box-9"></div>
            <div #boxTen      id="box-10" class="box-10"></div>
        </div>
    </div>

</div>