:host {
    --timer-block-padding: 10px;
    --timer-percentage: 95%;
    --timer-block-size: 150px;
    --sand-color: #FFD300;
    --border-radius: 15px;
}

.timerBlock {
    width: var(--timer-block-size);
    height: var(--timer-block-size);
    display: block;
    background: navy;
    position: relative;
    border-radius: 15px;
}

.timerTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 calc(var(--timer-block-size) / 2) var(--timer-block-size) calc(var(--timer-block-size) / 2);
    border-color: transparent transparent aliceblue transparent;
    overflow: hidden;
}

#emptyTriangle {
    opacity: 0.3;
    position: absolute;
    overflow: hidden;
}

#timerPercentageWrapper {
    position: absolute;
    height: var(--timer-percentage);
    overflow: hidden;
}

.flip {
    transform: rotate(180deg);
}

/* Boxes */
.box-1 {
    position: absolute;
    left: 70px;
    top: 5px;

    width: 10px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
    z-index: 1;
}

.box-2 {
    position: absolute;
    left: 66px;
    top: 20px;

    width: 18px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-3 {
    position: absolute;
    left: 61px;
    top: 31px;

    width: 28px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-4 {
    position: absolute;
    left: 56px;
    top: 42px;

    width: 38px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-5 {
    position: absolute;
    left: 51px;
    top: 53px;

    width: 48px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-6 {
    position: absolute;
    left: 46px;
    top: 64px;

    width: 57px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-7 {
    position: absolute;
    left: 42px;
    top: 76px;

    width: 67px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-8 {
    position: absolute;
    left: 36px;
    top: 88px;

    width: 78px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-9 {
    position: absolute;
    left: 31px;
    top: 98px;

    width: 88px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}

.box-10 {
    position: absolute;
    left: 25px;
    top: 110px;

    width: 99px;
    height: 20px;
    background-color: var(--sand-color);
    border-radius: var(--border-radius);
}